@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button, input {
    font-weight: bold;
    font-size: clamp(10px, 2vw, 20px);
    padding: 0.5vw;

    &:focus {
        outline: none;
    }
}

button {
    cursor: pointer;
}

body {
    font-family: 'Quicksand', Arial, sans-serif;
    background-color: #1b1b1b;
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: bold;
}

header {
    background-color: #1b1b1b;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 1vw;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3vw;
}

.nav-first-box {
    display: flex;
    gap: 1vw;

    .img-logo-box {
        width: 4vw;
        height: 4vw;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .search-box {
        display: flex;
        
        #search-input {
            color: white;
            background-color: #1b1b1b;
            padding: 0.5vw;
            border: none;
            border-top-left-radius: 0.8vw;        
            border-bottom-left-radius: 0.8vw;
            border: 0.2vw solid gold;
        }

        #search-button {
            color: #1b1b1b;
            background-color: gold;
            border: none;
            border-top-right-radius: 0.8vw;        
            border-bottom-right-radius: 0.8vw;
            border: 0.2vw solid gold;

            &:hover {
                background-color: rgb(216, 184, 0);
                border: 0.2vw solid rgb(216, 184, 0);
            }

            &:active {
                background-color: rgb(184, 156, 0);
                border: 0.2vw solid rgb(184, 156, 0);
            }
        
        }
    }

    #choose-location-button {
        color: #1b1b1b;
        background-color: white;
        border: none;
        border-radius: 0.8vw;

        &:hover {
            background-color: #cccccc;
        }

        &:active {
            background-color: #b3b3b3;
        }
    }

}

.nav-second-box {
    display: flex;
    gap: 1vw;

    #cart-button, #account-button {
        color: #1b1b1b;
        background-color: white;
        border: none;
        border-radius: 0.8vw;

        &:hover {
            background-color: #cccccc;
        }

        &:active {
            background-color: #b3b3b3;
        }

    }

    #account-button {
        background-color: gold;

        &:hover {
            background-color: rgb(216, 184, 0);
        }

        &:active {
            background-color: rgb(184, 156, 0);
        }

    }

    #cart-counter {
        color: #1b1b1b;
        background-color: crimson;
        border-radius: 50%;
        font-size: clamp(6px, 1.5vw, 15px);
        width: 1em;
        height: 1em;
        padding-left: 0.2em;
        padding-bottom: 1.2em;
        margin-left: -0.5vw;
    }

}

.heading-cart {
    padding-left: 3vw;
    padding-bottom: 3vw;
    font-size: clamp(20px, 5vw, 50px);
    font-weight: bold;
}

.items-box {
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
    padding-right: 2vw;
}

.restaurant-box {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    margin-bottom: 2vw;

    .restaurant-title {
        font-size: clamp(17px, 4vw, 40px);
        font-weight: bold;    
    }
}

.item-card {
    display: flex;
    background-color: rgb(240, 240, 240);
    color: #1b1b1b;
    border-radius: 1vw;
    padding: 1vw;
    align-items: center;
    justify-content: space-between;

    .item-title {
        font-size: clamp(10px, 2vw, 20px);
        margin-right: 1vw;
    }

    .quan-box {
        display: flex;
        font-size: clamp(10px, 2vw, 20px);
        gap: 0.5vw;
        text-align: center;
        align-items: center;
        
        .item-price {
            margin-right: 1vw;
            font-size: clamp(10px, 2vw, 20px);
            color: #4e4e4e;
        }
    
        button {
            border: none;
            border-radius: 0.8vw;  
            width: 2em;  
            background-color: gold;
            color: #1b1b1b;

            &:hover {
                background-color: rgb(216, 184, 0);
            }
    
            &:active {
                background-color: rgb(184, 156, 0);
            }

            &.inactive {
                background-color: #d4d4d4;
    
                &:hover {
                    background-color: #d4d4d4;
                }
        
                &:active {
                    background-color: #d4d4d4;
                }
        
            }
    
        }

        .remove-item-button {
            width: 5em;
            background-color: #d4d4d4;
    
            &:hover {
                background-color: #cccccc;
            }
    
            &:active {
                background-color: #b3b3b3;
            }
    
        }

    }
}

.checkout-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    font-size: clamp(10px, 2vw, 20px);
    padding: 1vw;
    gap: 1vw;

    button {
        border: none;
        border-radius: 0.8vw;  
        background-color: gold;
        color: #1b1b1b;

        &:hover {
            background-color: rgb(216, 184, 0);
        }

        &:active {
            background-color: rgb(184, 156, 0);
        }

        &.inactive {
            background-color: #d4d4d4;

            &:hover {
                background-color: #d4d4d4;
            }
    
            &:active {
                background-color: #d4d4d4;
            }
    
        }
    }
}

footer {
    display: flex;
    background-color: #0e0e0e;
    height: 3vw;
    align-items: center;
}
