@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button, input {
    font-weight: bold;
    font-size: clamp(10px, 2vw, 20px);
    padding: 0.5vw;

    &:focus {
        outline: none;
    }
}

button {
    cursor: pointer;
}

body {
    font-family: 'Quicksand', Arial, sans-serif;
    background-color: #1b1b1b;
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: bold;
}

header {
    background-color: #1b1b1b;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 1vw;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3vw;
}

.nav-first-box {
    display: flex;
    gap: 1vw;

    .img-logo-box {
        width: 4vw;
        height: 4vw;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .search-box {
        display: flex;
        
        #search-input {
            color: white;
            background-color: #1b1b1b;
            padding: 0.5vw;
            border: none;
            border-top-left-radius: 0.8vw;        
            border-bottom-left-radius: 0.8vw;
            border: 0.2vw solid gold;
        }

        #search-button {
            color: #1b1b1b;
            background-color: gold;
            border: none;
            border-top-right-radius: 0.8vw;        
            border-bottom-right-radius: 0.8vw;
            border: 0.2vw solid gold;

            &:hover {
                background-color: rgb(216, 184, 0);
                border: 0.2vw solid rgb(216, 184, 0);
            }

            &:active {
                background-color: rgb(184, 156, 0);
                border: 0.2vw solid rgb(184, 156, 0);
            }
        
        }
    }

    #choose-location-button {
        color: #1b1b1b;
        background-color: white;
        border: none;
        border-radius: 0.8vw;

        &:hover {
            background-color: #cccccc;
        }

        &:active {
            background-color: #b3b3b3;
        }
    }

}

.nav-second-box {
    display: flex;
    gap: 1vw;

    #cart-button, #account-button {
        color: #1b1b1b;
        background-color: white;
        border: none;
        border-radius: 0.8vw;

        &:hover {
            background-color: #cccccc;
        }

        &:active {
            background-color: #b3b3b3;
        }

    }

    #account-button {
        background-color: gold;

        &:hover {
            background-color: rgb(216, 184, 0);
        }

        &:active {
            background-color: rgb(184, 156, 0);
        }

    }

    #cart-counter {
        color: #1b1b1b;
        background-color: crimson;
        border-radius: 50%;
        font-size: clamp(6px, 1.5vw, 15px);
        width: 1em;
        height: 1em;
        padding-left: 0.2em;
        padding-bottom: 1.2em;
        margin-left: -0.5vw;
    }

}

.heading-restaurants {
    padding-left: 3vw;
    padding-bottom: 3vw;
    font-size: clamp(20px, 5vw, 50px);
    font-weight: bold;
}

.restaurants-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 2vw;
    padding-right: 2vw;
}

.restaurant-card {
    width: 30vw;
    margin-bottom: 2vw;
    cursor: pointer;

    .card-title {
        color: #1b1b1b;
    }

    .card-text {
        color: rgb(216, 184, 0);
    }
}

footer {
    display: flex;
    background-color: #0e0e0e;
    height: 3vw;
    align-items: center;
}
