body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.big_map{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.modelContent{
    display: none;
}

#map{
    display: block;
    height: 50vh;
    width: 90vh;
   
    

}

.leaflet-control .leaflet-control-attribution {
    width: 200px;
    height: 20vh; 
    font-size: 12px; 
    display: none; 
   
}

.map_close{
    height: 53.5vh;


}
.mapButton{
    height: 46px; 
    padding-left: 24px; 
    padding-right: 24px; 
    padding-top: 14px; 
    padding-bottom: 14px; 
    background: gold; 
    border-radius: 8px; 
    position: relative; 
    left: 1cm; 
    font-family: 'Quicksand', sans-serif; 
    font-weight: 600; 
    border: none; 
    cursor: pointer;
}
.closeButton{
    background: white; 
    border-radius: 8px;
}